.sc-pda-mb {
  margin-bottom: 60px;
}

.h3 {
  line-height: 32px;
}

@media only screen and (min-width: 700px) {
  .h3 {
    line-height: 44px;
  }
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-40 {
  margin-bottom: 40px;
}

.blue-number {
  color: var(--primary-700);
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  line-height: var(--lh-155);
  letter-spacing: 0;
}

.list-title-mb {
  margin-bottom: 32px;
}

.c-box-gray-only-text {
  padding: 44px;
  height: 224px;
}

.c-box-gray-only-text .box-title {
  font-size: 18px;
}

.c-box-gray-only-text.box-principios {
  padding: 44px;
  height: 263px;
}

.c-box-gray-only-text .title {
  font-size: 24px;
  margin-bottom: 24px;
}

.c-box-gray-only-text .bold-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.box-principios p {
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--fw-regular);
}

.c-box-gray-only-text .check-icon {
  width: 20px !important;
  height: 20px;
  margin-bottom: 14px;
}

.check-white {
  margin-bottom: 14px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 24px;
}

@media only screen and (min-width: 700px) {
  .grilla {
    grid-gap: 20px;
    margin-bottom: 80px;
  }
  .grilla img {
    margin-bottom: 14px;
  }
  .col-sm-1.number {
    max-width: 3.333333%;
    padding-left: 0;
  }

  hr.ejes {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  hr.ejes.ejes-first {
    margin-top: 0px;
  }

  .mb-80 {
    margin-bottom: 80px;
  }
}

.grilla div {
  padding: 44px;
  background-color: var(--grey-100);
  border-radius: 8px;
}
.grilla div p b {
  color: var(--grey-900);
  margin-bottom: 15px;
  display: block;
  font-size: 18px;
  line-height: 24px;
}
.one {
  background-color: var(--primary-700) !important;
  color: white;
}
.one h6:after {
  content: "";
  display: block;
  margin: 30px 0;
  background-color: white;
  height: 1px;
  width: 120px;
}
.one p {
  color: white;
}
.two,
.three,
.four {
  display: none;
}

.one {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 2 / 4;
  grid-row: 2;
}

.grilla div ul {
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  line-height: var(--lh-155);
  color: var(--grey-700);
}
.grilla div ul {
  margin-top: 20px;
  padding-left: 20px;
}
.grilla div ul li {
  list-style-type: disc;
}
@media only screen and (min-width: 700px) {
  .one {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    display: block;
  }
}

.owl-datos-violencia-genero {
  margin-left: -40px;
  margin-bottom: 30px;
}

.owl-datos-violencia-genero .owl-stage-outer {
  overflow: visible;
}

/* SECTION DIVERSIDAD ENERGIA */

.owl-datos-violencia-genero {
  margin-left: -40px;
  margin-bottom: 30px;
}

.owl-datos-violencia-genero .owl-stage-outer {
  overflow: visible;
}

#nav-datos-violencia-genero .owl-prev {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: relative;
  top: 1px;
}

/* ARROWS OWL CAROUSEL */

#nav-datos-violencia-genero .owl-prev {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: relative;
  top: 1px;
}
.counter-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: 60px;
  color: var(--grey-900);
}
.cantidad {
  color: var(--grey-500);
}
.cantidad i {
  font-style: normal;
  color: var(--primary-700);
}
.owl-nav {
  display: inline-block;
  vertical-align: middle;
}
.owl-nav button {
  background: transparent;
  border: 0;
  margin-right: 16px;
}
.owl-nav button img {
  width: 32px;
}
.owl-nav .disabled {
  opacity: 0.4;
  filter: grayscale(100%);
}

/* ARROWS OWL CAROUSEL */

#nav-datos-violencia-genero .owl-prev {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: relative;
  top: 1px;
}
.counter-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: 60px;
  color: var(--grey-900);
}
.cantidad {
  color: var(--grey-500);
}
.cantidad i {
  font-style: normal;
  color: var(--primary-700);
}
.owl-nav {
  display: inline-block;
  vertical-align: middle;
}
.owl-nav button {
  background: transparent;
  border: 0;
  margin-right: 16px;
}
.owl-nav button img {
  width: 32px;
}
.owl-nav .disabled {
  opacity: 0.4;
  filter: grayscale(100%);
}

.slider-datos-violencia-genero {
  padding-left: 15px;
  overflow: hidden;
}

.bg-grey {
  background-color: var(--grey-50);
}

.cta-section {
  padding: 60px 0;
  text-align: center;
}
.atencion-al-cliente {
  padding-top: 100px;
}

.cta-section button {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .cta-section {
    margin-left: auto;
    margin-right: auto;
  }

  .cta-section button {
    width: auto;
  }
  .atencion-al-cliente {
    padding-top: 220px;
  }
}

.cta-section img {
  width: 100%;
}

.cta-section video {
  width: 100%;
}

.c-box-contacto img {
  height: 23px;
  width: auto;
  margin-top: 0;
}

.subcomite-section {
  background-color: var(--grey-100);
}

.align-center-mobile {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 700px) {
  .cta-section img {
    margin-top: 0px;
  }
  .cta-section-right {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    padding-left: 52px;
  }
  .cta-section-left {
    margin-top: auto;
    margin-bottom: auto;
  }

  .align-center-mobile {
    margin-left: 0;
    margin-right: auto;
  }
}

.hr-align-center {
  margin-left: auto;
  margin-right: auto;
}

.reglamento-section {
  position: relative;
  height: 100%;
  margin: 0 0 24px 0;
}

.card {
  background-color: var(--grey-50);
  padding: 32px;

  border-radius: 12px;
}

.card-grey {
  margin-inline: auto;
}
.card-grey-icons {
  display: flex;
  margin-top: 24px;
}

.card-grey-icons img {
  width: 40px;
  height: 40px;
}

.card-grey-icons a {
  margin-right: 12px;
}

.card-grey a.icons {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: inline-block;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-radius: 50%;
}
.card-grey a.icons:hover {
  background-color: #0451dd;
}

.card-grey a .st0,
.card-grey a .st1 {
  fill: none;
  stroke: #0451dd;
  stroke-width: 2;
}
.card-grey a .st0 {
  stroke-linecap: square;
}
.card-grey a.icons:hover .st0,
.card-grey a.icons:hover .st1 {
  stroke: #0451dd;
}
.card-grey a.icons:hover .st0 {
  stroke: #fff;
}
/* ICON WHATSAPP */
.card-grey a .st1b {
  fill: none;
  stroke: #0451dd;
  stroke-width: 2;
  stroke-linecap: round;
}
.card-grey a .st2b {
  fill: #0451dd;
}
.card-grey a .st3b {
  fill: none;
  stroke: #0451dd;
  stroke-width: 2;
}
.card-grey a.icons:hover .st1b {
  stroke: #fff;
}
.card-grey a.icons:hover .st2b {
  fill: #fff;
}
.card-grey a.icons:hover .st3b {
  stroke: #0451dd;
}
/* ICON ATTACHMENT */
.card-grey a .st1c {
  fill: none;
  stroke: #0451dd;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-linejoin: round;
}
.card-grey a .st2c {
  fill: none;
  stroke: #0451dd;
  stroke-width: 2;
}
.card-grey a.icons:hover .st1c {
  stroke: #fff;
}
.card-grey a.icons:hover .st2c {
  stroke: #0451dd;
}
/* ICON EMAIL */
.card-grey a .st1d {
  fill: none;
  stroke: #0451dd;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-linejoin: round;
}
.card-grey a .st2d {
  fill: none;
  stroke: #0451dd;
  stroke-width: 2;
}
.card-grey a.icons:hover .st1d {
  stroke: #fff;
}
.card-grey a.icons:hover .st2d {
  stroke: #0451dd;
}

@media only screen and (min-width: 768px) {
  .c-text-link-arrow {
    display: flex;
    align-items: flex-start;
    padding-bottom: 21px;
  }
  .accordion {
    width: 40%;
  }
  .c-text-link-arrow .accordion-text {
    padding: 19px 0;
  }
  .c-text-link-arrow .h4 {
    margin: 10px 0 19px 0;
  }
  .card-grey-container {
    display: flex;
    justify-content: flex-end;
  }
  .card-grey {
    margin: auto;
  }
  .card-grey {
    display: flex;
    gap: 32px;
    align-items: center;
    width: 798px;
  }

  .card-grey .p {
    font-size: 16px;
    line-height: 22px;
  }

  .card-grey-inside-dsk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height: 340px;
    background-color: var(--grey-0);
    padding: 32px;
    border-radius: 8px;
  }
  .card-grey-inside-dsk h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .card-grey-inside-dsk hr {
    width: 40px;
  }
  .card-grey-inside-dsk img {
    height: 16px;
  }
  .grey-dot-grid-bg-desktop {
    width: 810px;
    height: 604px;
    position: absolute;
    z-index: -1;
  }
}

.mas-diversidad-video .button--primary {
  width: 100%;
  margin-bottom: 40px;
}
